mixin transactionModal(values = {})
    - var PROTOCOL = process.env.PROTOCOL
    - var HOST = process.env.HOST 
    - var PORT = process.env.PORT
    form.transaction-modal(action=pathname method="GET")
        label(for="crypto-pair") Пара
        input#crypto-pair(type="text", name="crypto-pair", value=values[prop] ? values[prop] : "")
        label(for="date") Дата
        input#date(type="date", name="date", value=values[prop] ? values[prop] : "")
        label(for="amount") Количество
        input#amount(type="number", name="amount", value=values[prop] ? values[prop] : "" step="0.00001")
        label(for="price") Цена
        input#price(type="number", name="price", value=values[prop] ? values[prop] : "" step="0.00001")

        .transaction-type
            input#buy(type="radio" name="type" value="покупка" checked=(values.type === 'buy') ? true : false)
            label(for="buy") Покупка
            input#sell(type="radio" name="type" value="продажа" checked=(values.type === 'sell') ? true : false)
            label(for="sell") Продажа
            input#transh(type="radio" name="type" value="перевод" checked=(values.type === 'transh') ? true : false)
            label(for="transh") Перевод
          
        if values.id 
            input(type="number" name="id" value=values.id hidden)
        .buttons 
            button.save(type="submit") Сохранить
            button.cancel(type="button") Отмена