extends ../layouts/content/content.pug

block append styles 
    link(rel="stylesheet", href="dist/transactions/style.css")
block append scripts
    script(type="module", src="dist/transactions/script.js" defer) 
block append parts 
    include ../blocks/c-row/c-row.pug
block append variables 
    -var activeLink = 2
block content 
    .table-container-outer 
        .table-container
            table.info 
                thead
                    - var thead = ['Пара', 'Дата', 'Тип транзакции', 'Количество', 'Цена', 'Сумма'];
                    tr.headers
                        each head, i in thead
                            th #{head}
                tbody 
                    each row in rows
                        +c-row(row)
            .context-menu(data-display="hidden")
                a.del(href=`${PROTOCOL}://${HOST}:${PORT}/remove_transaction`) Удалить
                a.edit(href=`${PROTOCOL}://${HOST}:${PORT}/transaction_form`) Изменить
        .table__gradient_disbled
        
    a.add-transaction(href=`${PROTOCOL}://${HOST}:${PORT}/transaction_form`) Добавить транзакцию